<div class="col-md-3 documentation-toc">
    <ul class="current">
        {% for item in site.data.navigation %}
            <li class="toctree-l1 current">
                <a class="current" href="./">{{item.name}}</a>
                 <ul class="subnav">
                    <ul>
                        {% for sub_item in item.sub_item %}
                        <li><a class="toctree-l3" href="#system-requirements">{{sub_item.name}}</a></li>
                        {% endfor %}
                    </ul>
                </ul>
            </li>
        {% endfor %}

        <li class="toctree-l1 current">
            <a class="current" href="./">Introduction</a>
            <ul class="subnav">

                <!--<li class="toctree-l2"><a href="#introduction">Introduction</a></li>-->

                <ul>

                    <li><a class="toctree-l3" href="#system-requirements">System requirements</a></li>

                    <li><a class="toctree-l3" href="#installation">Installation</a></li>

                    <li><a class="toctree-l3" href="#updating-poetry">Updating poetry</a></li>

                    <li><a class="toctree-l3" href="#enable-tab-completion-for-bash-fish-or-zsh">Enable tab
                            completion for Bash, Fish, or Zsh</a></li>

                </ul>

            </ul>
        </li>

        <li class="toctree-l1">
            <a class="" href="./basic-usage/">Basic Usage</a>
        </li>

        <li class="toctree-l1">
            <a class="" href="./libraries/">Libraries</a>
        </li>

        <li class="toctree-l1">
            <a class="" href="./cli/">Commands</a>
        </li>

        <li class="toctree-l1">
            <a class="" href="./configuration/">Configuration</a>
        </li>

        <li class="toctree-l1">
            <a class="" href="./repositories/">Repositories</a>
        </li>

        <li class="toctree-l1">
            <a class="" href="./managing-environments/">Managing environments</a>
        </li>

        <li class="toctree-l1">
            <a class="" href="./dependency-specification/">Dependency specification</a>
        </li>

        <li class="toctree-l1">
            <a class="" href="./pyproject/">The pyproject.toml file</a>
        </li>

        <li class="toctree-l1">
            <a class="" href="./contributing/">Contributing</a>
        </li>

        <li class="toctree-l1">
            <a class="" href="./faq/">FAQ</a>
        </li>

    </ul>
</div>
